
html {
  font: 14px "Century Gothic", Futura, sans-serif;
  overflow: hidden;
  height: 100%;
}

body {
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 100%;
  margin-left: 0%;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.drawArea {
  max-width: 400px;
  max-height: 400px;
  width: 90%;
  height: 50%;
  border: 1px solid black;
  float: left;
  cursor: crosshair;
}

.path {
  fill: none;
  /* stroke-width: 1px;
  stroke: black; */
  stroke-linejoin: round;
  stroke-linecap: round;
}

.color-pickers {
  display: flex;
}

.color-pickers-box {
  height: 30px;
  width: 30px;
  margin: 10px;
}

.config {
  display: flex;
  margin-top: 20px;
}

.drawing {
  width: 100%;
  height: 100%;
}